*, *:before, *:after
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-color: #080710;
}

.background
{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    /* z-index: 1; */
}

.background .shape
{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    /* z-index: 1; */
}

.shape:first-child
{
    background: linear-gradient(#9b22ea, #bf23f6);
    left: -100px;
    top: -50px;
    /* z-index: 2; */
    /* z-index: 1; */
}

.shape:last-child
{
    background: linear-gradient(to right, #ff512f, #f09819);
    right: -80px;
    bottom: -95px;
    /* z-index: 1; */
}


form
{
    height: 550px;
    width: 430px;
    background-color: rgba(255, 255, 255, 0.07);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
    padding: 50px 35px;
}

form *
{
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3
{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
}

form h3 span
{
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #e5e5e5;
}

label
{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

input
{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    /* cursor: pointer; */
}

::placeholder
{
    color: #e5e5e5;
}

form button
{
    margin-top: 50px;
    width: 100%;
    background-color: #2294ed;
    color: white !important;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 6px;
    cursor: pointer;
    border: 0.5px solid #577592;
    transition: 0.2s ease-out;
    box-shadow: 0 0 2px #577592;
}

form button:hover
{
    background-color:#1d69a3;
}

.asterisk_input::before
{
    content: " *";
    color: #e32;
    position: absolute;
    margin: 0px 0px 0px 5px;
    font-size:large;
    padding: 0 5px 0 0;
    display: inline-block;
}

.header
{
    width: 100vw;
    background-color: rgb(57, 54, 54);
    display: flex;
    justify-content: space-between;
    /* z-index: 2; */
}

.header img
{
    width: 170px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* z-index: 1; */
}

/* .secondary-button
{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: 20px;
    left: 20%;
    position: relative;
    border: 0.5px solid #577592;
    background-color: var(--accent-color);
    border-radius: 6px;
    font-weight:700;
    color: #183b56 !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.secondary-button:hover
{
    border-color: #2294ed;
    color: #2294ed !important;
    background-color:var(--accent-color-dark);
    box-shadow: 0 0 2px var(--accent-color) ;
}

.get-started-button
{
    display: flex;
    margin-block: 10px;
    margin-left: auto;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    background-color: white;
} */

.btn{
    color: white !important;
    font-weight: 600 !important;
    border: 1px solid white !important;
    background: transparent !important;
    border-radius: 0px !important;
    font-size: 20px !important;
    padding: 5px;
    margin-top: 15px;
    margin-right: 20px;
    /* right: 20px; */
    /* justify-content: flex-end; */
    /* position: absolute; */
    /* top: 15px; */
    /* right: -1200px; */
    /* left: 1200px; */
  }
  
.btn:hover{
    color: black !important;
    background: #fff !important;
    cursor: pointer;
  }

a
{
    text-decoration: none;
}

@media screen and (max-width: 600px)
{
    .header
    {
        width: 100vw;
    }

    .background
    {
        width: 80vw;
        height: 80vh;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        /* z-index: 1; */
    }

    .background .shape
    {
        display: none;
    }

    form
    {
        height: 60vh;
        width: 90vw;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
        border-radius: 10px;
        padding: 30px 20px;
        letter-spacing: 0.3px;
    }

    form h3
    {
        font-size: 20px;
        font-weight: 300;
        line-height: 25px;
    }

    form h3 span
    {
        display: block;
        font-size: 12px;
        font-weight: 100;
    }

    label
    {
        display: block;
        margin-top: 20px;
        font-size: 12px;
        font-weight: 300;
    }

    input
    {
        display: block;
        height: 50px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.07);
        border-radius: 3px;
        padding: 0 5px;
        margin-top: 4px;
        font-size: 10px;
        font-weight: 100;
    }

    form button
    {
        margin-top: 50px;
        width: 100%;
        background-color: #2294ed;
        color: white !important;
        padding: 10px 15px;
        font-size: 12px;
        font-weight: 300;
        border-radius: 6px;
        cursor: pointer;
        border: 0.5px solid #577592;
        transition: 0.2s ease-out;
        box-shadow: 0 0 2px #577592;
    }

    form button:hover
    {
        background-color:#1d69a3;
    }
}

@media screen and (max-width : 320px)
{
    .header
    {
        width: 100vw;
    }

    .background
    {
        width: 50vw;
        height: 50vh;
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        /* z-index: 1; */
    }

    .background .shape
    {
        display: none;
    }

    form
    {
        height: 45vh;
        width: 70vw;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 55%;
        left: 50%;
        border-radius: 10px;
        padding: 20px 10px;
        letter-spacing: 0.1px;
    }

    form h3
    {
        font-size: 15px;
        font-weight: 300;
        line-height: 15px;
    }

    form h3 span
    {
        display: block;
        font-size: 8px;
        font-weight: 100;
    }

    label
    {
        display: block;
        margin-top: 10px;
        font-size: 8px;
        font-weight: 100;
    }

    input
    {
        display: block;
        height: 30px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.07);
        border-radius: 3px;
        padding: 0 5px;
        margin-top: 4px;
        font-size: 8px;
        font-weight: 100;
    /* cursor: pointer; */
    }

    form button
    {
        margin-top: 15px;
        width: 100%;
        background-color: #2294ed;
        color: white !important;
        padding: 5px 10px;
        font-size: 8px;
        font-weight: 100;
        border-radius: 6px;
        cursor: pointer;
        border: 0.5px solid #577592;
        transition: 0.2s ease-out;
        box-shadow: 0 0 2px #577592;
    }

    form button:hover
    {
        background-color:#1d69a3;
    }
}